@media (max-width: 576px) {
    .row-two .icon,
    .row-two .icon-name {
      text-align: center;
    }
  
    .row-row .plus {
      display: none;
    }
  
    .row-row > div {
      margin-bottom: 1rem;
    }
  }

  p-dropdown {
    width: 100%;
  }
  