/* .container{
    margin-left: 160px !important;
    width: 850px;
} */
.card{
    width: 200px;
    border: none;
}

.row-two{
    margin-top: 13px;
}
.icon{
    display: flex;
    justify-content: center;
     
    
}
.icon-name{
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
span{
    margin: 0px 10px; 
}
i{
    margin: 0px 26px;
    cursor: pointer;
}
body {
    overflow-x: hidden;
    background-color: lightgray;
}

.one{
width: 150px;
height: 80px;
background-color:rgb(197, 226, 235);
margin: 20px;
border-radius: 15px;

}
.paid{
    margin: 0px 49px 0px;
    margin-top: 20px !important;
    font-size: 25px;
}
.paid-text{
    font-size: 25px;
    margin-left:39px !important; 
}
.plus{
    margin-left:20px;
    margin-top: 40px;
    font-size: 25px;

}
.row-row{
    display: flex;
}
.two{
    width: 150px;
height: 80px;
background-color:rgb(189, 220, 255);
margin: 20px;
border-radius: 15px;

}
.three{
width: 150px;
height: 80px;
background-color:rgb(248, 232, 162);
margin: 20px;
border-radius: 15px;

}
button{
    width: 150px;
    margin-top: -35px;
    margin-left: 700px;
    border: none;
    background-color: rgb(242, 50, 50);
    color: white;
    border-radius: 20px;
}