<div class="party-details">
  <div class="row">
    <div class="col-3 add-party">
      <i class="pi pi-search" (click)="onSearchClick()"></i>
      <input *ngIf="showSearchInput" type="text" placeholder="Search Party" class="search-input" />
      <button routerLink='/add-party' *ngIf="!showSearchInput" class="add-party-btn">Add Party</button> <i
        class="pi pi-ellipsis-v" (click)="showDialog()" pTooltip="Manage Parties Active/Inactive"
        tooltipPosition="right"></i>
      <p-dialog header="Manage Parties Active / Inactive" [modal]="true" [(visible)]="visible"
        [style]="{ width:'100%', maxWidth:'39rem' }">
        <div class="mb-3">
          <input type="text" pInputText placeholder="Search..." class="w-100" />
        </div>
        <div class="row fw-bold text-center mb-2">
          <div class="col-4">PARTIES</div>
          <div class="col-4">PHONE NO</div>
          <div class="col-4">PARTY STATUS</div>
        </div>
        <div class="row text-center mb-3">
          <div class="col-4">Laptop Shop</div>
          <div class="col-4">7887907564</div>
          <div class="col-4">
            <p-inputSwitch></p-inputSwitch>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <p-button class="p-button-sm" label="Save Change" (click)="visible = false"></p-button>
        </div>
      </p-dialog>

      <table cellpadding="10" cellspacing="0">
        <thead>
          <tr>
            <th>PARTY</th>
            <th>AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Laptop Shop</td>
            <td>28000</td>
          </tr>

          <tr>
            <td>mobail Shop</td>
            <td>2000</td>
          </tr>

          <tr *ngIf="party  && amount">
            <td>{{ party }}</td>
            <td>{{ amount }}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-9">
      <div class="row ADMIN-ROW">
        <div class="col-8">
          <br>
          <label>Phone : <span routerLink='/add-party'> <i class="pi pi-phone"></i> Add Phone No</span> </label> <br>
          <label>Email : <span routerLink='/add-party'> <i class="pi pi-envelope"></i> Add Email ID</span> </label> <br>
          <label>No Credit Limit Set : <span routerLink='/add-party'> Set Credit Limit </span> </label>

        </div>
        <div class="col-4">
          <div class="icon"><i class="pi pi-envelope
                    " style="font-size: 1.6rem"></i> <i class="pi pi-whatsapp" style="font-size: 1.6rem"></i> <i
              class="pi pi-clock" style="font-size: 1.6rem"></i></div>
          <label>Address : <span routerLink='/add-party'> Add Address</span> </label> <br>
          <label>GstIn : <span routerLink='/add-party'> Add GSTIN</span> </label> <br>
          <label>Party Status : <span class="switch"> <input type="checkbox" checked>
              <span class="slider round"></span></span> </label> <br>
        </div>
      </div>
      <div class="row TRANSACATIONS-ROW">
        TRANSACATIONS

        <div class="card">
          <p-table [value]="products" [tableStyle]="{ 'min-width': '40rem' }" class="table table-hover">
            <ng-template #header>
              <tr>
                <th>Type</th>
                <th>Number</th>
                <th>Date</th>
                <th>Total</th>
                <th>Balance</th>
              </tr>
            </ng-template>
            <ng-template #body let-product>
              <tr>
                <td>{{ product.type }}</td>
                <td>{{ product.number }}</td>
                <td>{{ product.date }}</td>
                <td>{{ product.total }}</td>
                <td>{{ product.balance }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>