/* .container-fluid{
width: 80%;
margin-left: 160px;
} */

.table th, .table td {
  vertical-align: middle;
}
.table {
  font-size: 1rem;
}

@media screen and (min-width: 1600px) {
  .table {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .filter-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .table {
    font-size: 0.85rem;
  }

  .table th,
  .table td {
    white-space: nowrap;
  }
}