@media (max-width: 576px) {
  .table {
    font-size: 13px;
  }

  .btn {
    font-size: 14px;
    padding: 6px 30px;
    text-align: center;
  }

  .form-control,
  .form-select {
    font-size: 14px;
  }
}
