<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <!-- <button class="toggle-btn" (click)="toggleSidebar()"> 
  <i [class]="isCollapsed ? 'pi pi-chevron-right'  :  'pi pi-chevron-left'"></i>
</button> -->
    <div class="container-fluid">
      <div class="ms-auto">
        <a class="btn btn-danger me-3" (click)="navigateToNewComponent()" ><i class="pi pi-plus"></i> Add Sale</a>
        <a class="btn btn-primary me-5" (click)="navigateToAddPurchase()" ><i class="pi pi-plus"></i> Add Purchase</a>
      </div>
    </div>
  </nav>
