.navbar {
  width: 100%;
  padding: 0.75rem 1rem;
}

.navbar .btn {
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
}
.toggle-btn{
  border: none !important;
  background: transparent;
  margin-top: -1%;
  margin-left: -2%;
}


.navbar .btn i {
  margin-right: 0.4rem;
}

@media (max-width: 768px) {
  .navbar .container-fluid {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .ms-auto {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar .btn {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 10px;
    justify-content: center;
  }
}
