::ng-deep .p-drawer .p-drawer-header {
  background-color: rgb(39, 34, 53) !important;
  color: #f0f0f0; 
  height: 5% !important;
  width: 100% !important;


}
.invoice-preview{
  margin-left: 3%!important;
  /* margin-top: 2%!important  ; */
}


.sidebar{
  width: 19%;
  background-color:  rgb(39, 34, 53) !important;
  color:white !important;
  height: 100%!important;
   margin-top: 1%;
   border-radius: 2%;
   margin-left: -2% !important;
  
}
a{
  color: white;
  margin-top: 13%;
  cursor: pointer;
}
.component{
  margin-left: 17%;
  margin-top: -40%;
}

/* Div 1 */

 .card {
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-weight: 600;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

/*  Div 2  */

.settings-wrapper {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h5 {
  font-weight: bold;
}

hr {
  margin: 0.5rem 0 1rem;
}

.form-check-label {
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-select,
  .form-control {
    width: 100% !important;
  }

  .settings-wrapper {
    padding: 1rem !important;
  }
}


/* Div 3 */
/* Div 3 */

.settings-container {
  min-height: 110vh;
  background-color: #fff;
}

.sidebar-settings {
  width: 100%;
  max-width: 45%;
  background-color: #f8f9fa;
}

.layout-thumb {
  width: 75px;
  border: 2px solid transparent;
  cursor: pointer;
}

.layout-thumb.active {
  border-color: #007bff;
}

.tab-btn {
  background: none;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
}

.tab-btn.active {
  border-bottom: 2px solid #007bff;
}

@media (max-width: 768px) {
  .settings-container {
    flex-direction: column;
  }

  .sidebar-settings {
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid #ebebeb;
  }
}
img{
  width: 100%;
  /* height: auto; */
  /* border-radius: 8px;  */
}

/* Div 4  */

.section-title {
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.form-control[disabled] {
  background-color: #f1f1f1;
}

/* Div 5  */














