.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .profile-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 2, 2, 0.1);
  }
  
  .logo-upload {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 520px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  