<div class="row">
    <div class="row row-two">
        <div class="col-3">
            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="cities" 
                    [(ngModel)]="selectedCity" 
                    optionLabel="name"
                    placeholder="This Month"/>
            </div>
        </div>
        <div class="col-3">
            <p-calendar [(ngModel)]="date"  dateFormat="mm/dd/yy"></p-calendar>

        </div>
        <div class="col-3">
            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="ities" 
                    [(ngModel)]="selecteCity" 
                    optionLabel="name"
                    placeholder="ALL FiRMS" />
            </div>
        </div>
        <div class="col-3">
          <div class="icon">
            <i class="bi bi-filetype-xls" style="font-size: 1rem"></i>
            <i class="pi pi-print" style="margin: 10px 20px;"></i>
          </div>
          <div class="icon-name">
            <span>Excel</span>
            <span class="margin">Print</span>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="card flex justify-content-center">
            <p-dropdown 
                [options]="payment" 
                [(ngModel)]="payment_in" 
                optionLabel="name"
                placeholder="Payment-In" />
        </div>
        <button>Add Payment-In</button>
    </div>

    <div class="row">
        <div class="">
            <p-table class="teble" [value]="products" [tableStyle]="{ 'min-width': '40rem' }" >
                <ng-template #header>
                    <tr>
                        <th>DATE</th>
                        <th>INVOICE NO</th>
                        <th>PARTY NAME</th>
                        <th>TRANSACTION TYPE</th>
                        <th>PAYMENT TYPE</th>
                        <th>AMOUNT</th>
                        <th>BALANCE DUE</th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr>
                        <td>{{ product.date }}</td>
                        <td>{{ product.invoice_no }}</td>
                        <td>{{ product.party_name }}</td>
                        <td>{{ product.transactoins_type }}</td>
                        <td>{{ product.payment_type }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.balance_due }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
