.main-content {
  overflow-y: auto;
}
a{
  cursor: pointer;
}
.fs-3{
     padding-left: 23%; 
      padding-bottom: 0px;
}   
.rightbtn {
  display: none;
}

@media (max-width: 78px) {
  .rightbtn {
    display: block !important;
    padding: 0px !important;
    overflow-y: scroll;
    /* padding-left: 19% !important; */


  }
}
