@media (max-width: 576px) {
  .input-group {
    flex-direction: column;
  }

  bottom{
        width: 16% !important;
  }
  .input-group-text {
    width: 100%;
    text-align: left;
  }

  .input-group input {
    width: 100%;
  }

  .btn, select, .form-control {
    width: 100% !important;
  }
}
