<div class="main">
  <div class="heading">
    <h5>Party Smart Connect</h5>
    <h6>Seamlessly Connect WhatsApp for Smarter Business Communication</h6>
  </div>

  <img src="../../../assets/images.jpg" alt="a1" class="banner-img" />

  <div class="features-row">
    <div class="feature-box">
      <h6>Effortless Party Interaction</h6>
      <h6>Connect with your parties via WhatsApp in Vyapar</h6>
    </div>
    <div class="feature-box">
      <h6>Secured Party Conversations</h6>
      <h6>Only chats with your business are visible for secure communication.</h6>
    </div>
    <div class="feature-box">
      <h6>Enhance Business Efficiency</h6>
      <h6>Save time and boost productivity with enhanced messaging features.</h6>
    </div>
  </div>

  <button (click)="openWhatsApp()">Link My WhatsApp</button>
</div>
