@media (max-width: 576px) {
  .table {
    font-size: 13px;
  }

  .btn {
    font-size: 14px;
    padding: 6px 30px;
    text-align: center;
  }

  .form-check-inline {
    display: block;
    margin-bottom: 5px;
  }

  .amount-text {
    font-size: 14px;
  }

  .p-tabview .p-tabview-panels {
    overflow-x: auto;
  }
}
