/* You can add global styles to this file, and also import other style files */
.sidebar {
  min-height: 100vh;
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}



.p-tablist-tab-list{
  display: flex;
  justify-content: space-around !important;
  border: none !important;
  border-top: none !important;

}


.custom-width-button {
  width: 500px !important;
}

.w-100 {
  width: 100% !important;
}

@media (max-width: 500px) {
  ::ng-deep .p-tablist-content{
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}
.element.style {
  display: block;
  box-sizing: border-box;
  height: 300px;
  width: 894px;
}



