<div class="dashboard-container">
  <div class="summary">
    <div class="card receivable">
      <h4>Total Receivable</h4>
      <h2>₹ 15,995</h2>
      <p>From 3 Party</p>
      <i class="pi pi-arrow-down arrow li"></i>
    </div>
    <div class="card payable">
      <h4>Total Payable</h4>
      <h2>₹ 9,995</h2>
      <p>From 1 Party</p>
      <i class="pi pi-arrow-up arrow li"></i>
    </div>
  </div>

  <div class="sales">
    <h4>Total Sale</h4>
    <h2>₹ 900</h2>
    <p-chart type="line" [data]="data" [options]="options" style="height: 300px;"></p-chart>
  </div>

  <div class="reports">
    <h4>Most Used Reports</h4>
    <br />
    <div class="main-btn">
      <button class="btn" (click)="goReport()"> Sale Report <samp><i class="pi pi-angle-right"></i></samp></button>
      <button class="btn" (click)="goTransction()"> All Transactions <samp><i class="pi pi-angle-right"></i></samp></button>
      <button class="btn" (click)="goBookDayReport()"> Daybook Report <samp><i class="pi pi-angle-right"></i></samp></button>
      <button class="btn" (click)="goPartyStatement()"> Party Statement <samp><i class="pi pi-angle-right"></i></samp></button>
    </div>
  </div>
</div>
